html body{
    margin: 0px;
    padding: 0px;
    background-color: darkgrey;
}

header {
    padding: 10px;
    background-color: dimgray;
    height: 100px;
    font-size: 60px;
    font-weight: bold;
    color: darkgrey;
    font-family: monospace;
    letter-spacing: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.number {
    font-size: 100px;
    color: crimson;
    font-family: monospace;
    font-weight: bold;
    float: left;
    width: 120px;
    padding: 5px;
    margin-left: 100px;
    margin-top: 200px;
}

.counter {
    font-size: 100px;
    color: forestgreen;
    font-family: monospace;
    font-weight: bold;
    float: right;
    width: 120px;
    padding: 5px;
    margin-right: 100px;
    margin-top: 200px;
}

.bubble {
    width: 80px;
    height: 80px;
    background-color: #9e9e9e;
    border-radius: 50%;
}

.bubble-row {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
}

.bubble-container {
    padding-top: 50px;
    width: 500px;
    margin: auto;
}

footer {
    background-color: dimgray;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-family: monospace;
    color: darkgrey;
    font-weight: bold;
    margin-top: 40px;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.expression {
    font-family: monospace;
    font-weight: bold;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    line-height: 0px;
    padding: 0px;
}